.firstDiv{
    color:blue;
}

.secondDiv{
    color:red;
}

#singledout{
    color: green;
    text-decoration: line-through;
}

/* select adjacent siblings "+" */
h3 + ul{
    border: 4px dotted purple;
}


/* descending tags (all a inside li) */
li a{
    color:red;
}

li a[href="www.npr.org"]{
    color: blue;
    border: 5px solid orange;
}